/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  font-family: 'Noto Sans', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
p,
a,
ul,
li,
span,
button {
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.btn-primary {
  background-color: #0A4958;
  border: 2px solid #F6E7D2;
}
.btn-primary:hover {
  border: 2px solid #F6E7D2;
}
.btn-secondary {
  background-color: #01B6AD;
  border: 2px solid #F6E7D2;
}
.btn-style {
  color: #F6E7D2;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  padding: 2rem 2.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease 0s;
}
.btn-style:hover {
  background-color: #F6E7D2;
  color: #01B6AD;
  transition: background-color 0.2s ease 0s;
}
.navbar-container {
  width: 100%;
  background-color: #0A4958;
}
.navbar-container .navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin: 0 auto;
}
.navbar-container .navbar-items .navbar-logo {
  font-weight: 700;
}
.navbar-container .navbar-items .navbar-logo a {
  color: #F6E7D2;
  font-size: 2.8rem;
}
.navbar-container .navbar-items .navbar-buttons {
  display: flex;
  flex-direction: row;
}
.navbar-container .navbar-items .navbar-buttons .btn-primary {
  padding: 1rem 1.5rem;
}
.navbar-container .navbar-items .navbar-buttons .dropdown {
  display: flex;
  align-items: center;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-btn {
  width: 3rem;
  margin-left: 2rem;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-btn:hover {
  cursor: pointer;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content {
  display: flex;
  flex-direction: column;
  z-index: 100;
  overflow: scroll;
  background-color: #F6E7D2;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  color: #0A4958;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-navbar .navbar-logo a {
  color: #0A4958;
  font-size: 2.8rem;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-navbar .dropdown-btn-cancel {
  width: 2rem;
  margin: 1rem;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-navbar .dropdown-btn-cancel:hover {
  cursor: pointer;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-btns {
  width: 100%;
  border-bottom: 1px solid grey;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-btns button {
  width: 95%;
  margin: 0 auto;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-btns button:hover {
  border-color: #01B6AD;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-products {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid grey;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-products .dropdown-content-product-name {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A4958;
  font-weight: 700;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-products .dropdown-content-product-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-products .dropdown-content-product-list .dropdown-content-product-item {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  font-weight: 700;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-products .dropdown-content-product-list .dropdown-content-product-item div:first-child {
  padding-right: 1rem;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-products .dropdown-content-product-link {
  margin: 1rem auto 0;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-products .dropdown-content-product-link a {
  color: #01B6AD;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-links {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-links div {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A4958;
  font-weight: 700;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-links a {
  padding: 1.5rem;
  color: black;
  border-bottom: 1px solid grey;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-content .dropdown-content-links a:last-child {
  border-bottom: none;
}
.navbar-container .navbar-items .navbar-buttons .dropdown .dropdown-hidden {
  display: none;
}
