@import './reset.less';
@import './global.less';
@import './mixins_variables.less';

// ================ NAVBAR ================
.navbar-container {
  width: 100%;
  background-color: @secondary;

  .navbar-items {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 auto;
    .max-width();

    .navbar-logo {      
      font-weight: 700;
      a {
        color: @pale;
        font-size: 2.8rem;
      }
    }

    .navbar-links {
      display: none;
    }
    @media (min-width: 500px) {
      .navbar-links {
        display: block;
        a {
          margin: 2rem;
          color: @white;
          font-weight: 600;
  
          &:hover {
            border-bottom: 2px solid @white;
            opacity: 0.8;
          }
        }
      }
    }

    .navbar-buttons {
      display: flex;
      flex-direction: row;

      .btn-primary {
        padding: 1rem 1.5rem;
      }

      .dropdown {
        display:flex;
        align-items: center;

        .dropdown-btn {
          width: 3rem;
          margin-left: 2rem;
          &:hover {
            cursor: pointer;
          }
        }

        @media (min-width: 500px) {
          display: none;
        }

        .dropdown-content {
          display: flex;
          flex-direction: column;
          z-index: 100;
          overflow: scroll;
          background-color: @pale;
          width: 100%;
          position: fixed;
          top: 0px;
          left: 0px;
          bottom: 0px;
          color: @secondary;
        
          .dropdown-content-navbar {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem;
            align-items: center;
        
            .navbar-logo a {
              color: @secondary;
              font-size: 2.8rem;
            }
        
            .dropdown-btn-cancel {
              width: 2rem;
              margin: 1rem;
              &:hover {
                cursor: pointer;
              }
            }
          }
        
          .dropdown-content-btns {
            width: 100%;
            border-bottom: 1px solid grey;
            margin: 0 auto;
            padding: 2rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
            button {
              width: 95%;
              margin: 0 auto;
              &:hover {
                border-color: @primary;
              }
            }
          }

          .dropdown-content-products {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 100%;
            padding: 2rem;
            border-bottom: 1px solid grey;

            .dropdown-content-product-name {
              font-size: 2rem;
              margin-bottom: 2rem;
              text-transform: uppercase;
              color: @secondary;
              font-weight: 700;
            }

            .dropdown-content-product-list {
              display: flex;
              justify-content: space-between;
              flex-flow: row wrap;

              .dropdown-content-product-item {
                width: 50%;
                display: flex;
                flex-direction: row;
                margin-bottom: 2rem;
                font-weight: 700;
                
                div {
                  &:first-child {
                  padding-right: 1rem;
                  }
                }
              }
            }

            .dropdown-content-product-link {
              margin: 1rem auto 0;
              a {
                color: @primary;
              }
            }
          }

          .dropdown-content-links {
            padding: 2rem;
            display: flex;
            flex-direction: column;

            div {
              font-size: 2rem;
              margin-bottom: 2rem;
              text-transform: uppercase;
              color: @secondary;
              font-weight: 700;
            }

            a {
              padding: 1.5rem;
              color: black;
              border-bottom: 1px solid grey;
              &:last-child {
                border-bottom: none;
              }
            }
          }          
        }
        
        .dropdown-hidden {
          display: none;
        }
      }
    }
  }
}

// ================ /NAVBAR ================

// ================ HEADER ================
.header-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: @secondary;
  color: @pale;
  text-align: center;  
  padding: 4rem 2rem 10rem;
  border-bottom-left-radius: 50% 8%;
  border-bottom-right-radius: 50% 8%;

  div {
    .max-width();
  }

  h2 {
    font-weight: 700;
    line-height: 1.17;
    color: @white;
  }

  p {
    line-height: 1.7;
    margin: 2rem 0;
  }

  form {
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;

    input {
      width: 100%;
      padding: 1.5rem;
      border-radius: 4px;
      border: none;
    }

    button {
      width: 100%;
      margin-top: 1.5rem;
    }

    @media (min-width: 500px) {
      flex-direction: row;
      align-items: center;
      width: 70%;
      input {
        padding: 1.5rem;
        margin-right: 1rem;
        border: 2px solid @white;
        font-size: 1.6rem;
        flex: 3;
      }
      button {
        margin: 0;
        flex: 1;
      }
    }
  }
}

// ================ /HEADER ================

// ================ HERO ================
.hero-container {
  .max-width();
  display:flex;
  flex-direction: column;
  margin: 0 auto;

  .featured-container {
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
     margin-top: -6rem;

    .card-container {
      max-width: 265px;
      margin: 1rem;
      position: relative;
      border: 1px solid grey;

      .card-text {
        position: absolute;
        bottom: 10px;
        padding: 0 0.5rem;
        width: 100%;
        display:flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

// ================ /HERO ================