// COLOR SCHEME:
@primary: #01B6AD;
@secondary: #0A4958;
@white: #FFFFFF;
@pale: #F6E7D2;


// BUTTONS:
/*
.btn-style {
  color: white;
  font-weight: bold;
  background-color: @redish;
  border: none;
  cursor: pointer;
}
*/